<header
  class="flex items-center justify-between w-full p-4 bg-gray-100 mb-2 border-b border-gray-300"
>
  <div class="text-gray-700 font-semibold">{{ title }}</div>
  <div #profileMenu class="relative">
    <button
      type="button"
      (click)="toggleDropdown()"
      class="flex items-center gap-2 cursor-pointer"
    >
      <img
        [src]="'/profile.svg'"
        alt="Profile"
        class="h-10 w-10 rounded-full object-cover"
      />

      <span class="hidden text-sm font-medium text-gray-700 sm:inline">{{
        usuarioNome
      }}</span>
      <span class="hidden text-gray-400 sm:inline">
        <svg
          lucideIcon="arrow-down"
          class="transition-transform duration-200"
          [class.rotate-180]="isOpen"
        ></svg>
      </span>
    </button>

    @if (isOpen) {
      <div
        class="absolute right-0 z-10 mt-4 w-48 overflow-hidden rounded-lg border border-gray-200 bg-white shadow-lg"
        role="menu"
      >
        <button
          type="button"
          (click)="fecharDropdown()"
          role="menuitem"
          [routerLink]="'/perfil'"
          class="block w-full cursor-pointer px-4 py-3 text-left text-gray-700 transition-colors hover:bg-blue-50 hover:text-blue-700 focus:bg-blue-50 focus:outline-none"
        >
          Meu perfil
        </button>
        <button
          type="button"
          (click)="fecharDropdown()"
          role="menuitem"
          [routerLink]="'/configuracoes'"
          class="block w-full cursor-pointer px-4 py-3 text-left text-gray-700 transition-colors hover:bg-blue-50 hover:text-blue-700 focus:bg-blue-50 focus:outline-none"
        >
          Configurações
        </button>
        <button
          type="button"
          (click)="fecharDropdown()"
          (click)="logout()"
          role="menuitem"
          class="block w-full cursor-pointer px-4 py-3 text-left text-gray-700 transition-colors hover:bg-blue-50 hover:text-blue-700 focus:bg-blue-50 focus:outline-none"
        >
          Sair
        </button>
      </div>
    }
  </div>
</header>
