.cor-amostra {
	&--red { background: #f43f5e; }
	&--orange { background: #f97316; }
	&--blue { background: #2563eb; }
	&--green { background: #059669; }
	&--violet { background: #7c3aed; }
	&--gray { background: #6b7280; }
}
