@if (isOpen) {
  <div
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 animate-in fade-in duration-200 modal-overlay-enter"
  >
    <div
      class="w-full max-w-md rounded-xl bg-white p-6 shadow-xl modal-content-enter"
    >
      <h2 class="text-xl font-semibold text-gray-800">
        {{ title }}
      </h2>

      <p class="mt-2 text-sm text-gray-500">
        {{ message }}
      </p>

      <div class="mt-6 flex justify-end gap-3">
        <button
          type="button"
          class="rounded-lg border border-gray-300 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer transition-all duration-150 active-95"
          (click)="fechar()"
        >
          {{ cancelText }}
        </button>

        <button
          type="button"
          class="rounded-lg bg-red-500 px-4 py-2 text-sm font-medium text-white hover:bg-red-600 cursor-pointer transition-all duration-150 active-95"
          (click)="confirmar()"
        >
          {{ confirmText }}
        </button>
      </div>
    </div>
  </div>
}
